.main-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .banner-placeholder,
  .banner-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.6s ease;
    z-index: 0;
  }
  .video-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); // Opacidad suave
  z-index: 1;
}

  .banner-placeholder {
    opacity: 1;
  }

  .banner-placeholder.hidden {
    opacity: 0;
  }

  .banner-video {
    opacity: 0;
  }

  .banner-video.visible {
    opacity: 1;
  }

  .contenedor {
    position: absolute;
    z-index: 2;
    height: 100%;
    padding: 2rem;
    color: var(--blanco);
    text-align: center;
    top: 5%;
    left: 5%;
    text-align: start;
    
  }

  .iconos-contenedor{
    display: flex;
    height: 70px;
    margin-top: 20px;
    .square-cont{
      padding: 15px;
      background-color: white;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      margin-right: 1em;
      img{
        width: max-content;
        height: 100%;
      }
    }
  }
}
@media (max-width: 450px){
  .main-banner{
    .contenedor{
      padding: 0px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}