.testimonials {
  h1{
    font-size: 40px;
    color: var(--verde-oscuro);
    margin-bottom: 1em;
    font-weight: 900;
  }
  .card{
    padding: 2em !important;
    h6{
      color: var(--amarillo);
      font-size: 18px;
    }
    p{
      font-size: 16px;
    }
  }
}
